<div class="row">
  <div class="col me-auto pb-4" id="<%= dom_id category %>">
    <div class="card">
      <div class="card-body">
        <div class="card-text d-flex align-items-center justify-content-between">
          <b><%= category.name %></b>
          <span>
            <% if policy(category).edit? %>
              <%=link_to "Edit", edit_category_path(category) %>
            <% end %> 
            |
            <% if policy(category).destroy? %>
              <%=link_to "Delete", category, data: { turbo_method: :delete, turbo_confirm: 'Delete category?' } %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>