<%= form_with(model: [user, category]) do |form| %>
  <%= render 'shared/error_messages', resource: form.object %>

  <div class="form-group mb-3">
    <%= form.text_field :name, placeholder: "Name", class: "form-control form-control mb-3" %>
  </div>

  <div class="actions d-grid">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
