<div class="d-flex align-items-center justify-content-between">
  <h1>Categories</h1> <%= link_to "New category", new_user_category_path(@user), class: "btn btn-outline-dark" %>
</div>

<hr />

<div class="mt-4" id="categories">
  <% @categories.each do |category| %>
    <%= render "category", user: @user, category: category %>
  <% end %>
</div>
