<div class="pb-5 d-flex align-items-center justify-content-center" id="chart">
  <canvas
    data-controller="my_chart"
    data-my_chart-data-value="<%= chart_data %>"
    data-my_chart-type-value="pie">
  </canvas>
</div>